#container {
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

.fourchart {
    float: left;
    width: 50%;
}

.spacer {
    height: 20px;
}

#bar-chart {
  height: 400px;
  width: 100%;
}

#gif1 {
  height: 400px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#gif {
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#text {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
}

#logo {
  height: 400px;
}

#logo1 {
  width: 400px;
}

#logo2 {
  width: 400px;
}

#logo3 {
  width: 400px;
}

#imgcontain {
  float: left;
  width: 100%;
  margin-left: 200px;
}

#right {
  float: right;
  margin-top: 150px;
  font-size: 100px;
  margin-right: 600px;

}

#right1 {
  float: right;
  font-size: 100px;
  margin-right: 600px;

}

#logo1 {
  margin-bottom: 100px;
}

#right2 {
  float: right;
  font-size: 100px;
  margin-right: 600px;
}
